@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: 'Lato', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}


hr {
    color: grey;
    width: 85%;
    border: 0;
    border-top: 2px solid;
    margin: 3em auto 3em;
}

h1 {
    font-family: 'Pacifico', cursive;
}

.orange {
    color: #ff9d6c;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: #000;
    color: #FFF;
    padding: 0.5em 0.75em;
    font-weight: bold;
    z-index: 100;
}

.skip-links a:focus {
    top: 0;
}

body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin: 0 auto 0;
}

.logo {
    display: block;
    margin: 1em auto 0;
    width: 180px;
}

.nav a,
.nav a:link,
.nav a:visited {
    display: block;
    color: black;
    text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
    color: #6ECB98;
    transition: all 250ms linear;
}

.nav a {
    text-decoration: none;
    text-align: right;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 200;

}

nav {
    text-align: center;
    width: 100%;
    display:inline-block;
    margin: 1em auto 1em;
}

.navigation {
    text-align: center;
    margin: 0 auto 0;
}

nav ul {
    margin: 0;
    padding-bottom: 1em;
}

nav li {
    font-weight: 300;
    list-style-type: none;
    display: inline-block;
    margin: .5em;
    margin-bottom: 0;
}

nav a:hover,
nav a:focus,
nav a:active {
    color: tomato;
}

.top-image {
    background-image: url(../images/bckgrnd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 20vh;
    width: 100%;
    overflow: hidden;
}

.hello {
    margin: 5px auto 15px;
    width: 100%;
}

/*.head-text {
    padding: 0;
    color: #6ECB98;
    margin-left: 1em;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px grey;
}*/


h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
}

/**************** Carousel *******************/

.carousel {
    position: relative;
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 15em;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    height: 600px;
    width: 100%;
    background-size: cover;

}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover,
.carousel-control:focus,
.carousel-control:active {
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5,
#carousel-6:checked ~ .control-6 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: gray;
    cursor: pointer;
    display: block;
    font-size: 30px;
}

.carousel-bullet:hover,
.carousel-bullet:focus,
.carousel-bullet:active {
    color: lightgray;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel-6:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet {
    color: #6ECB98;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}


/**************** Main *******************/

.portfolio-text {
    text-align: center;
    margin: 1em auto 0;
    max-width: 350px;

}

.portfolio-pic {
    padding: 0;
    margin: -8em 0 -10em;

}

.direction {
    max-width: 65px;
    max-height: 65px;
    margin: 1em auto 0;
}

.arrow {
    -webkit-transition: all 500ms linear;
    transition: all 1s linear ease;
    display: block;
    margin: 0 auto 0;
    width: 60%;
}

#arrow a {
    -webkit-transition: 1s;
    transition: 1s;
}

.aboutme {
    text-align: center;
    width: 80%;
    margin: 6em auto 0;
}

.aboutme p {
    padding-top: 1em;
    text-align: justify;
}

.socialcontainer {
    margin:0 30% 0;
}

.social {
    width: 50px;
    margin: 1em auto 1em;

}

.phone {
    color: white;
    text-align: center;
    margin: 0 auto 1em;
}

.fade {
    -webket-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.fade:hover,
.fade:focus,
.fade:active  {
	opacity: 0.75;
}



.portfolio-buckets {
    width: 85%;
    margin: 3em auto 6em;
}

.piece {
    cursor: pointer;
}

footer {
    overflow: hidden;
    background-color: gray;
    width: 100%;
    bottom: 0;
}

@media only screen and (min-width: 23em) {

    .portfolio-pic {
        margin: -2em 0 -2em;
    }

    .head-text {
        margin-top: 1.5em;
    }

}


@media only screen and (min-width: 38em) {
    .logo {
        margin: 1em 1em .75em;
    }

    .nav {
        margin: .75em 1em 0;
        text-align: right;
    }

    .aboutme p {
        margin: 0 auto 0;
        width: 60%;
        text-align: justify;
    }

    .portfolio-pic {
        margin: 0;
    }

    .head-text {
        margin-top: 2em;
    }

    .portfolio-text {
        max-width: 550px;
    }
    .top-image {
      min-height: 60vh;
    }

}


@media only screen and (min-width: 60em) {

     .carousel-inner {
        padding-bottom: 3em;
    }

    .hello {
    margin: 290px auto 15px;
    }

    .head-text {

        font-size: 6em;
    }


}

/**************** 404 *******************/

.oops {
    text-align: center;
    margin: 1em auto 0;
    font-size: 5em;
}

.embarrassing {
    text-align: center;
    margin: 1em auto 0;
    font-weight: 100;
}

.lost-page {
    max-width: 600px;
    font-weight: 100;
    margin: 0 auto 0;
    text-align: center;
}

.back-to-home {
    font-weight: 100;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.back-to-home a,
.back-to-home a:link,
.back-to-home a:visited {
    display: block;
    color: black;
    text-decoration: none;
}

.back-to-home a:hover,
.back-to-home a:focus,
.back-to-home a:active,
.back-to-home .nav-current,
.back-to-home .nav-current:link,
.back-to-home .nav-current:visited {
    color: #6ECB98;
    transition: all 250ms linear;
}

.back-to-home a {
    margin-top: 2em;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 200;

}
