@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: 'Lato', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: #000;
    color: #FFF;
    padding: 0.5em 0.75em;
    font-weight: bold;
    z-index: 100;
}

.skip-links a:focus {
    top: 0;
}

body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin: 0 auto 0;
}

.logo {  
    display: block;
    margin: 1em auto 0;
    width: 180px;
}

.nav a,
.nav a:link,
.nav a:visited {
    display: block;
    color: black;
    text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
    color: #ff9d6c;
    transition: all 250ms linear;
}

.nav a {
    text-decoration: none;
    text-align: right;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 200;
    
}

nav {
    text-align: center;
    width: 100%;
    display:inline-block;
    margin: 1em auto 1em;
}

.navigation {
    text-align: center;
    margin: 0 auto 0;
}
    
nav ul {
    margin: 0;
    padding-bottom: 1em;
}
    
nav li {
    font-weight: 300;
    list-style-type: none;
    display: inline-block;
    margin: .5em;
    margin-bottom: 0;
}
    
nav a:hover {
    color: tomato;
}

.top-image {
    background-image: url(../images/Leaves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 80vh;
    width: 100%;
    overflow: hidden;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 3.5em;
}

/**************** Carousel *******************/

.carousel {
    position: relative;
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    height: 600px;
    width: 100%;
    background-color: salmon;
    background-size: cover;
    
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5,
#carousel-6:checked ~ .control-6 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: grey;
    cursor: pointer;
    display: block;
    font-size: 30px;
}

.carousel-bullet:hover {
    color: orange;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel-6:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet {
    color: #C3D1CB;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}


/**************** Main *******************/

.portfolio-text {
    display: inline-block;

}


.direction {
    max-width: 65px;
    max-height: 65px;
    margin: 1em auto 0;
}

.arrow {
    -webkit-transition: all 500ms linear;
    transition: all 1s linear ease;
}

#arrow a {
    -webkit-transition: 1s;
    transition: 1s;
}

.hello {
    margin: 20% auto 30%;
    width: 100%;  
}

.head-text {
    padding: 0;
    margin-bottom: 0;
    color: white;
    text-align: center;
}

.intro-text {
    margin: 0;
    color: white;
    text-align: center;
}

.aboutme {
    text-align: center;
    width: 80%;
    margin: 6em auto 0;
}

.aboutme p {
    padding-top: 1em;
    text-align: justify;
}

.socialcontainer {
    margin:0 30% 0;
}

.social {
    width: 50px;
    margin: 1em auto 1em;

}

.phone {
    color: white;
    text-align: center;
    margin: 0 auto 1em;
}

.fade {
    -webket-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.fade:hover {
	opacity: 0.5;
}



.portfolio-buckets {
    width: 85%;
    margin: 3em auto 6em;
}

.piece {
    margin: 1em auto 1em;
    display: inline-block;
    width: 150px;
    height: 150px;
}

footer {
    overflow: hidden;
    background-color: #ff9d6c;
    width: 100%;
    bottom: 0;
}

@media only screen and (min-width: 38em) {
    .logo {
        margin: 1em 1em .75em;
    }
    
    .nav {
        margin: .75em 1em 0;
        text-align: right;
    }
    
    .aboutme p {
        margin: 0 auto 0;
        width: 60%;
        text-align: justify;
    }
}

@media only screen and (min-width: 38em) {
    .logo {
        margin: 1em 1em .75em;
    }
    
    .nav {
        margin: .75em 1em 0;
        text-align: right;
    }
    
    .aboutme p {
        margin: 0 auto 0;
        width: 60%;
        text-align: justify;
    }
}
